.button {
    padding: 10px 28px;
    max-width: 216px;
    min-width: 200px;
    max-height: 50px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: var(--btn-hero);
    color: var(--hero-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 250ms var(--main-cube);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &:hover,
    &:focus {
        background-color: var(--btn-hover);
    }

    &__icon {
        margin-left: 10px;
        fill: var(--simply-white);
    }
}





