// перший паршал
:root {
    /* fonts */
    --main-fonts: 'DM Sans';
    --logo-fonts: 'Titan One';

    /* text colors */
    --main-colors-font: ;
    --secondary-colors-font: ;
    --accent-color-font: ;
    --hero-color: ;
    --simply-white: ;
    --adrees-colors: ;
    /* bg-colors */
    --main-bg: #FFFFFF ;
    --secondary-bg: #FFF5F6;
    --hero-bg: ;
    --footer-bg: ;
    /* others */
    --btn-hero: ;
    --btn-hover: ;
    --footer-work-border: ;
    
    --social-icons: ;
    --main-cube: cubic-bezier(0.4, 0, 0.2, 1);
}
