.portfolio-work {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 8px;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }    

    &__btn {
        display: inline-block;
        font-family: inherit;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.6;
        letter-spacing: 0.03em;
        color: var(--main-colors-font);
        background: var(--secondary-bg);
        border: 1px solid transparent;
        border-radius: 4px;
        padding: 6px 22px;
        min-width: 73px;
        cursor: pointer;
        transition: color 250ms var(--main-cube), 
        background-color 250ms var(--main-cube);       

        &:hover,
        &:focus {
            color: var(--simply-white);
            background-color: var(--btn-hover);
            box-shadow: 
             0px 3px 1px rgba(0, 0, 0, 0.1),
             0px 1px 2px rgba(0, 0, 0, 0.08),
             0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
        }   
    }
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    justify-content: center;
    
    @media screen and (min-width: 768px) {
        justify-content: flex-start;
    }

    &__item {
        margin: 15px;             
        width: 100%;
        background-color: var(--simply-white);
        
        @media screen and (min-width: 768px) {
            width: calc((100% - 4 * 15px) / 2);            
        }

        @media screen and (min-width: 1200px) {
            width: calc((100% - 6 * 15px) / 3);            
        }
    }
    
    &__link:hover,
    &__link:focus {
        box-shadow:
        0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    
    &__link:hover .overlay {
        transform: translateY(0);
    }
    
    &__card {
        position: relative;
        overflow: hidden;
    }
    
    &__name {
        padding: 20px 24px;
        border-right: 1px solid var(--ounline-portfolio-work);
        border-bottom: 1px solid var(--ounline-portfolio-work);
        border-left: 1px solid var(--ounline-portfolio-work);
    }
    
    &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--main-colors-font);
    }
    
    &__subtitle {
        margin-top: 4px;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.03em;
        color: var(--secondary-colors-font);
    }        
}

.portfolio__link--grow {
    display: flex;
    flex-direction: column;
    height: 100%;    
}

.portfolio__box--grow {
    flex-grow: 1;
}